PORT=3000
NODE_ENV=development
FRONT_URL=http://localhost:3020

JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION_DAYS=7
REFRESH_TOKEN_EXPIRATION_DAYS_REMEMBER_ME=30

MONGODB_URI=mongodb://localhost:27017/backend-db

SMTP_HOST=smtp.example.com
SMTP_FROM=noreply@example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASSWORD=your_smtp_password
SMTP_PREVIEW=false
