# Server
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://127.0.0.1

# Databasesd
DATABASE_URL=mongodb://localhost:27017/
DATABASE_NAME=devver

# Logto
LOGTO_SECRET=
LOGTO_CLIENT_ID=
LOGTO_BASE_URL=
LOGTO_WEBHOOK_SIGNING_KEY=
